<%- include('includes/header.ejs', {page: 'index'}); %>

<meta http-equiv="refresh" content="60;URL=/">

<div class="sensors">
    <header>
        <h2>
            Capteurs
            <% if (sensors) { %>
                - Dernier relevé à <%= new Date(sensors.createdAt).toLocaleString() %>
            <% } %>
        </h2>
    </header>

    <% if (sensors) { %>
        <section>
            <article class="card card-number bg-green">
                <span class="title">Température</span>
                <strong class="value"><%= sensors.temperature %>°C</strong>
            </article>

            <article class="card card-number bg-blue">
                <span class="title">Humidité</span>
                <strong class="value"><%= Math.round(sensors.humidity) %>%</strong>
            </article>

            <article class="card card-number bg-orange">
                <span class="title">Lumière</span>
                <strong class="value"><%= Math.round(sensors.light) %>Lux</strong>
            </article>
        </section>

        <section>
            <article class="card card-number bg-green">
                <span class="title">Pression</span>
                <strong class="value"><%= Math.round(sensors.pressure / 100) + 50 %>hPa</strong>
            </article>

            <article class="card card-number bg-blue">
                <span class="title">Voltage solaire</span>
                <strong class="value"><%= sensors.voltageSolar / 1000 %>V</strong>
            </article>

            <article class="card card-number bg-orange">
                <span class="title">Intensité de charge</span>
                <strong class="value"><%= sensors.currentCharge %>mA</strong>
            </article>
        </section>

        <section>
            <article class="card card-number bg-green">
                <span class="title">Température boîte</span>
                <strong class="value"><%= (sensors.temperatureRtc + sensors.temperatureBattery) / 2 %>°C</strong>
            </article>

            <article class="card card-number bg-blue">
                <span class="title">Voltage batterie</span>
                <strong class="value"><%= sensors.voltageBattery / 1000 %>V</strong>
            </article>

            <article class="card card-number bg-orange">
                <span class="title">Uptime</span>
                <strong class="value">
                    <%
                        var uptimeStr =
                                Math.floor(sensors.uptime / 3600).toString() + 'h'
                                + Math.floor(((sensors.uptime / 3600) - Math.floor(sensors.uptime / 3600)) * 60).toString().padStart(2, '0') + 'min';
                    %>
                    <%= uptimeStr %>
                </strong>
            </article>
        </section>
    <% } else { %>
        <section>
            <strong>Aucune donnée pour le moment</strong>
        </section>

    <% } %>
</div>

<div class="photos">
    <header>
        <h2>
            Dernière photo
            <% if (lastPhoto) { %>
                - Prise le <%= new Date(lastPhoto.date).toLocaleString() %>
            <% } %>
        </h2>
    </header>

    <section>
        <% if (lastPhoto) { %>
            <article class="photo">
                <a href="<%= lastPhoto.path %>_4.jpg" target="_blank">
                    <img src="<%= lastPhoto.path %>_4.jpg" alt="Dernière photo prise"
                         title="Dernière photo prise le <%= new Date(lastPhoto.date).toLocaleString() %>"
                         onerror="const old = this.src; this.src = ''; this.src = old;"/>
                </a>
            </article>
            <article class="photo">
                <a href="<%= lastPhoto.path %>_2.jpg" target="_blank">
                    <img src="<%= lastPhoto.path %>_2.jpg" alt="Dernière photo prise"
                         title="Dernière photo prise le <%= new Date(lastPhoto.date).toLocaleString() %>"
                         onerror="const old = this.src; this.src = ''; this.src = old;"/>
                </a>
            </article>
        <% } else { %>
            <strong>Aucune photo</strong>
        <% } %>
    </section>
</div>

<div class="infos">
    <header>
        <h2>La station</h2>
    </header>

    <section>
        <article>
            <ul>
                <li>
                    <a href="https://store.arduino.cc/arduino-pro-mini" target="_blank">Un Arduino Pro Mini pour le
                        watchdog</a>
                </li>
                <li>
                    <a href="http://www.orangepi.org/orangepizerolts/" target="_blank">Un Orange Pi Zero LTS</a>
                </li>
                <li>
                    <a href="https://www.all-batteries.fr/batterie-plomb/sonnenschein/a512-10s.html" target="_blank">Une
                        batterie Plomb/Gel 10Ah</a>
                </li>
                <li>
                    <a href="https://www.amazon.fr/gp/product/B07KG2TB6V" target="_blank">Un panneau de 25W</a>
                </li>
                <li>
                    <a href="http://www.danjuliodesigns.com/products/makerpower.html" target="_blank">Un chargeur
                        MPPT</a>
                </li>
                <li>
                    <s><a href="http://www.rigpix.com/protrx/icom_ich16t.htm" target="_blank">Un ICOM H16T</a></s>
                </li>
                <li>
                    <a href="https://www.wifi-france.com/ubiquiti/bullet-2" target="_blank">Une borne Ubiquiti Bullet
                        2</a>
                </li>
                <li>
                    <a href="https://www.amazon.fr/gp/product/B00N2NEUKS/ref=ppx_yo_dt_b_asin_image_o01_s00"
                       target="_blank">Une antenne 2.4Ghz 14dBi</a>
                </li>
                <li>
                    <a href="https://hackaday.io/project/164092-npr-new-packet-radio" target="_blank">Un NPR 70</a>
                </li>
                <li>
                    <a href="https://www.passion-radio.fr/mobile/hp7000c-540.html" target="_blank">Une Antenne mobile
                        V/UHF Sirio HP 7000C</a>
                </li>
                <li>
                    Un arduino Uno pour les capteurs météos (température, humidité, pression, lumière)
                </li>
            </ul>
        </article>

        <article>
            <a href="/assets/images/lien.jpg" target="_blank">
                <img src="/assets/images/lien.jpg" alt="Liens réseaux" style="width: 200px"/>
            </a>
            <a href="/assets/images/station-boite.jpg" target="_blank">
                <img src="/assets/images/station-boite.jpg" alt="Station boîte intérieur" style="width: 200px"/>
            </a>
            <a href="/assets/images/station-sol.jpg" target="_blank">
                <img src="/assets/images/station-sol.jpg" alt="Station au sol" style="width: 200px"/>
            </a>
            <a href="/assets/images/station-sol2.jpg" target="_blank">
                <img src="/assets/images/station-sol2.jpg" alt="Station on sol 2" style="width: 200px"/>
            </a>
        </article>
    </section>
</div>

<%- include('includes/footer.ejs', {page: 'index'}); %>
