<%- include('includes/header.ejs', {page: 'photos'}); %>

<div class="photos">
    <header>
        <h2>Photos (par tranche de 5 minutes)</h2>
    </header>

    <section>
        <% if (photos.length > 0) { %>
            <% photos.filter((photo, index) => index % 10 === 0).slice(0, 3).forEach(function(photo) { %>
                <article class="photo align-center">
                    <a href="/timelapse/<%= photo %>" target="_blank">
                        <div class="align-center" style="width: 320px">
                            <img src="/timelapse/<%= photo %>" alt="Prise le <%= photo.split('/')[1] %>"/>
                            <span><%= photo.split('/')[1] %></span>
                        </div>
                    </a>
                </article>
            <% }); %>
        <% } %>
    </section>

    <% if (photos.length > 3) { %>
        <header>
            <h2>Autres photos</h2>
        </header>

        <section class="align-left">
            <article>
                <ul>
                    <% photos.filter((photo, index) => index % 10 === 0).slice(3).forEach(function(photo) { %>
                        <li>
                            <a href="/timelapse/<%= photo %>" target="_blank">
                                <%= photo.split('/')[1] %>
                            </a>
                        </li>
                    <% }); %>
                </ul>
            </article>
        </section>
    <% } %>
</div>

<%- include('includes/footer.ejs', {page: 'photos'}); %>
