<%- include('includes/header-base.ejs', {styles: ['css/slide']}); %>

<meta http-equiv="refresh" content="35;URL=/slide">

<header class="bg-primary">
    <span>Station autonome</span>

    <% if (sensors) { %>
        <span><%= new Date(Math.max(sensors.createdAt, lastPhoto.date)).toLocaleString() %></span>
    <% } else { %>
        <strong>Aucune donnée</strong>
    <% } %>

    <span>F4HVV</span>
</header>

<div id="slideBody">
    <main>
        <% if (lastPhoto) { %>
            <article class="photo">
                <a href="<%= lastPhoto.path %>_4.jpg" target="_blank">
                    <img src="<%= lastPhoto.path %>_4.jpg" alt="Dernière photo prise"
                         title="Dernière photo prise le <%= new Date(lastPhoto.date).toLocaleString() %>"
                         onerror="const old = this.src; this.src = ''; this.src = old;"/>
                </a>
            </article>
            <article class="photo">
                <a href="<%= lastPhoto.path %>_2.jpg" target="_blank">
                    <img src="<%= lastPhoto.path %>_2.jpg" alt="Dernière photo prise"
                         title="Dernière photo prise le <%= new Date(lastPhoto.date).toLocaleString() %>"
                         onerror="const old = this.src; this.src = ''; this.src = old;"/>
                </a>
            </article>
        <% } else { %>
            <strong>Aucune photo</strong>
        <% } %>
    </main>

    <aside>
        <% if (sensors) { %>
            <article class="card card-number bg-green card-small">
                <span class="title">Température</span>
                <strong class="value"><%= +sensors.temperature %>°C</strong>
            </article>

            <article class="card card-number bg-green card-small">
                <span class="title">Humidité</span>
                <strong class="value"><%= Math.round(sensors.humidity) %>%</strong>
            </article>

            <article class="card card-number bg-green card-small">
                <span class="title">Pression</span>
                <strong class="value"><%= sensors.pressure > 0 ? Math.round(sensors.pressure / 100) + 51 : 0 %>
                    hPa</strong>
            </article>

            <article class="card card-number bg-orange card-small">
                <span class="title">Lumière</span>
                <strong class="value"><%= Math.round(sensors.light / 100) %> kLux</strong>
            </article>

            <article class="card card-number bg-orange card-small">
                <span class="title">Solaire</span>
                <strong class="value"><%= sensors.voltageSolar / 1000 %>V</strong>
            </article>

            <article class="card card-number bg-orange card-small">
                <span class="title">Charge</span>
                <strong class="value"><%= sensors.currentCharge %>mA</strong>
            </article>

            <article class="card card-number bg-blue card-small">
                <span class="title">Batterie</span>
                <strong class="value"><%= sensors.voltageBattery / 1000 %>V</strong>
            </article>

            <article class="card card-number bg-blue card-small">
                <span class="title">Uptime</span>
                <strong class="value">
                    <%
                        var uptimeStr =
                                Math.floor(sensors.uptime / 3600).toString() + 'h'
                                + Math.floor(((sensors.uptime / 3600) - Math.floor(sensors.uptime / 3600)) * 60).toString().padStart(2, '0') + 'min';
                    %>
                    <%= uptimeStr %>
                </strong>
            </article>
        <% } else { %>
            <strong>Aucune donnée pour le moment</strong>
        <% } %>
    </aside>
</div>

<%- include('includes/footer-base.ejs', {page: 'index'}); %>
